@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&display=swap');

/* ==============
   global styles
   ============== */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #0B0505;
    font-family: 'Roboto', sans-serif;
    color: #c1bfc6;
    min-height: 100%;
    position: relative;
}


/* ==============
   typography
   ============== */


/* ==============
   layout
   ============== */

/* logo area */

.container-max-width {
    max-width: 800px;
}

.logo-area {
    margin: 10px auto 10px auto;
    max-width: 800px;
}

.logo-queen {
    height: 20vh;
    background: url("../images/logo.png") center;
}

/* scoreboard area */

.score-board-text {
    color: #0B0505;
    background-color: #c1bfc6;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
}

.points,
.tries,
.rounds {
    padding: .7rem .7rem .7rem .7rem;
}

/* memory board area */

.game-background{
    
    background: url("../images/game_background.png") center center/contain no-repeat;
    background-size:80%;
    padding: 200px 0;
}

#memory-board {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    padding: 100px 0 0 0;
    justify-content: center;
    perspective: 1000px;
    min-height: 320px;
}

/* memory card design */
.card {
    width: 115px;
    height: 155px;
    margin: 5px;
    position: relative;
    background: transparent;
    border: none;
    transform-style: preserve-3d;
    transition: transform .5s;
    }

/* modals section */

#modal-welcome-title {
    font-size: 2rem;
    text-transform: uppercase;
}


/* ==============
   media queries
   ============== */

/* min-width 951px */