@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300&display=swap');

/* ==============
   global styles
   ============== */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #0B0505;
    font-family: 'Roboto', sans-serif;
    color: #c1bfc6;
    min-height: 100%;
    position: relative;
}


/* ==============
   typography
   ============== */


/* ==============
   layout
   ============== */

/* logo area */

.container-max-width {
    max-width: 800px;
}

.logo-area {
    margin: 10px auto 10px auto;
    max-width: 800px;
}

.logo-queen {
    height: 20vh;
    background: url("../images/logo.png") center;
}

/* scoreboard area */

.score-board-text {
    color: #0B0505;
    background-color: #c1bfc6;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
}


.points,
.tries,
.rounds {
    padding: .7rem .7rem .7rem .7rem;
}



/* modals section */

#modal-welcome-title {
    font-size: 2rem;
    text-transform: uppercase;
}


/* ==============
   media queries
   ============== */

/* min-width 951px */